@import'./../../settings.scss';
.c-profile {
  display: flex;
  align-items: center;
  padding: 10px;
}
.c-profile h1 {
  margin-bottom: 0.1em;
  font-family: "Josefin Sans", Helvetica, sans-serif;
  color: $colorTwo;
}
.c-profile ul {
  margin: 0;
  padding-left: 0;
}
.c-profile li {
  list-style: none;
  margin-bottom: 3px;
}
.c-profile .photo {
  margin-right: 20px;
  width: 120px;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 3px 3px 20px -3px $colorFive;
  border: 2px solid $colorFour;
  border-radius: 50%;
}
