.p-home {
  background-color: #fafbfc;
  color: #42526e;
  max-width: 600px;
  margin: 50 auto;
  padding: 5px 20px;
  box-shadow: 5px 5px 10px 0 #ebecf0;
  border: 1px solid #ebecf0;
}

button{
  margin: 5px !important;
}
